export const <%=upperSnakeCased%>_REQUEST = '<%=upperSnakeCased%>_REQUEST'

export const <%=upperSnakeCased%>_SUCCESS = '<%=upperSnakeCased%>_SUCCESS'

export const <%=upperSnakeCased%>_FAILED = '<%=upperSnakeCased%>_FAILED'

export const <%=upperSnakeCased%>_RESET = '<%=upperSnakeCased%>_RESET'

export const <%=upperSnakeCased%>_STOP_LOADING = '<%=upperSnakeCased%>_STOP_LOADING'

export const <%=actionName%>Request = payload => {
  return async (dispatch, getState, deps) => {
    return deps.api
      .<%=apiMethod%>(`<%=apiUrl%>`, { params: { ...payload } })
      .then((res) => {
        dispatch({
          type: <%=upperSnakeCased%>_SUCCESS, 
          payload: { response: { ...res.data } }
        });
        return Promise.resolve('success');
      })
      .catch(err => {
        dispatch({
          type: <%=upperSnakeCased%>_Failed,
          payload: { error: { ...err } }
        })
        return Promise.reject(err);
      });
  }
}
