import {
  <%=actionName%>Request,
  <%=actionName%>Success,
  <%=actionName%>Failed,
  <%=upperSnakeCased%>_REQUEST,
  <%=upperSnakeCased%>_SUCCESS,
  <%=upperSnakeCased%>_FAILED
} from './<%=name%>Actions.js'

describe('<%=lowerSpaceCase%> actions', () => {
  it('should create an action to start creating <%=lowerSpaceCase%>', () => {
    const data = 'creating <%=lowerSpaceCase%>'
    const expectedAction = {
      type: <%=upperSnakeCased%>_REQUEST,
      payload: { data }
    }

    expect(<%=actionName%>Request(data)).toEqual(expectedAction)
  })

  it('should create an action for successful creation of <%=lowerSpaceCase%>', () => {
    const response = 'failed to create <%=lowerSpaceCase%>'
    const expectedAction = {
      type: <%=upperSnakeCased%>_SUCCESS,
      payload: { response }
    }

    expect(<%=actionName%>Success(response)).toEqual(expectedAction)
  })

  it('should create an action for failure to create <%=lowerSpaceCase%>', () => {
    const error = 'created <%=lowerSpaceCase%>'
    const expectedAction = {
      type: <%=upperSnakeCased%>_FAILED,
      payload: { error }
    }

    expect(<%=actionName%>Failed(error)).toEqual(expectedAction)
  })
})
