export const <%=upperSnakeCased%>_REQUEST = '<%=upperSnakeCased%>_REQUEST'

export const <%=upperSnakeCased%>_SUCCESS = '<%=upperSnakeCased%>_SUCCESS'

export const <%=upperSnakeCased%>_FAILED = '<%=upperSnakeCased%>_FAILED'

export const <%=upperSnakeCased%>_RESET = '<%=upperSnakeCased%>_RESET'

export const <%=upperSnakeCased%>_STOP_LOADING = '<%=upperSnakeCased%>_STOP_LOADING'

export const <%=actionName%>Request = (data) => ({
  type: <%=upperSnakeCased%>_REQUEST,
  payload: { data: data }
})

export const <%=actionName%>Success = (response) => ({
  type: <%=upperSnakeCased%>_SUCCESS,
  payload: { response }
})

export const <%=actionName%>Failed = (error) => ({
  type: <%=upperSnakeCased%>_FAILED,
  payload: { error }
})

export const <%=actionName%>Reset = (error) => ({
  type: <%=upperSnakeCased%>_RESET,
  payload: { error }
})

export const <%=actionName%>StopLoading = () => ({
  type: <%=upperSnakeCased%>_STOP_LOADING,
  payload: { }
})
