import { createLogic } from 'redux-logic';

import {
  <%=upperSnakeCased%>_REQUEST,
  <%=actionName%>Success,
  <%=actionName%>Failed,
  <%=actionName%>Reset
} from '../actions/<%=name%>Actions.js'

const <%=actionName%>Logic = createLogic({
  type: [<%=upperSnakeCased%>_REQUEST],
  latest: true,
  name: 'api logic <%=upperSnakeCased%>',

  async process ({ action, getState, deps }, dispatch, done) {
    const { data } = action.payload
    try {
      const res = await deps.api.<%=apiMethod%>(`<%=apiUrl%>`,{ ...data })
      await dispatch(<%=actionName%>Success(res.data))
    } catch (error) {
      await dispatch(<%=actionName%>Failed(error))
    } finally {
      done()
    }
  }
})

export default [
  <%=actionName%>Logic
]
