import reducer from './<%=name%>Reducer.js'
import {
  <%=actionName%>Request,
  <%=actionName%>Success,
  <%=actionName%>Failed
} from '../actions/<%=name%>Actions.js'

describe('<%=lowerSpaceCase%> reducer', () => {
  it('should return the initial state', () => {
    expect(reducer(undefined, {})).toEqual(
      {
        errorMessage: null,
        loading: false,
        response: {},
        apiStatus: false
      }
    )
  })

  it('should handle <%=upperSnakeCased%>', () => {
    expect(
      reducer({}, <%=actionName%>('test'))
    ).toEqual(
      {
        errorMessage: null,
        loading: true
      }
    )
  })

  it('should handle <%=upperSnakeCased%>_SUCCESS', () => {
    expect(
      reducer({}, <%=actionName%>Success(':-)'))
    ).toEqual(
      {
        response: ':-)',
        loading: false,
        apiStatus: true
      }
    )
  })

  it('should handle <%=upperSnakeCased%>_FAILED', () => {
    expect(
      reducer({}, <%=actionName%>Failed(':-('))
    ).toEqual(
      {
        errorMessage: ':-(',
        loading: false,
        apiStatus: false
      }
    )
  })
})
