import {
  <%=upperSnakeCased%>_REQUEST,
  <%=upperSnakeCased%>_SUCCESS,
  <%=upperSnakeCased%>_FAILED,
  <%=upperSnakeCased%>_RESET,
  <%=upperSnakeCased%>_STOP_LOADING
} from '../actions/<%=name%>Actions.js'

const initialState = {
  errorMessage: null,
  loading: false,
  response: {},
  apiStatus: null
}

const <%=name%>Reducer = (state = initialState, action) => {
  switch (action.type) {
    case <%=upperSnakeCased%>_REQUEST: {
      return {
        ...state,
        errorMessage: null,
        loading: true,
      }
    }
    case <%=upperSnakeCased%>_SUCCESS: {
      const { response } = action.payload
      return {
        ...state,
        feedbackMsg: 'created <%=lowerSpaceCase%>',
        response,
        loading: false,
        apiStatus: true
      }
    }
    case <%=upperSnakeCased%>_FAILED: {
      const { error } = action.payload
      return {
        ...state,
        feedbackMsg: 'failed to create <%=lowerSpaceCase%>',
        errorMessage: error,
        loading: false,
        apiStatus: false
      }
    }
    case <%=upperSnakeCased%>_RESET: {
      return {
        ...initialState,
      }
    }
    case <%=upperSnakeCased%>_STOP_LOADING: {
      return {
        ...state,
        loading: false,
      }
    }
    default: {
      return state
    }
  }
}

export default <%=name%>Reducer
