import {
  <%=upperSnakeCased%>_REQUEST,
  <%=upperSnakeCased%>_SUCCESS,
  <%=upperSnakeCased%>_FAILED,
  <%=upperSnakeCased%>_RESET,
  <%=upperSnakeCased%>_STOP_LOADING
} from '../actions/<%=name%>Actions.js'

const initialState = {
  message: null,
  feedbackMsg: ''
}

const <%=name%>Reducer = (state = initialState, action) => {
  switch (action.type) {
    case <%=upperSnakeCased%>_REQUEST: {
      return {
        ...state,
        feedbackMsg: 'creating <%=lowerSpaceCase%>',
        message: null
      }
    }

    case <%=upperSnakeCased%>_SUCCESS: {
      const { response } = action.payload

      return {
        ...state,
        feedbackMsg: 'created <%=lowerSpaceCase%>',
        message: response
      }
    }

    case <%=upperSnakeCased%>_FAILED: {
      const { error } = action.payload

      return {
        ...state,
        feedbackMsg: 'failed to create <%=lowerSpaceCase%>',
        message: error
      }
    }

    case <%=upperSnakeCased%>_RESET: {
      const { response } = state
      return {
        ...initialState,
        response
      }
    }

    case <%=upperSnakeCased%>_STOP_LOADING: {
      return {
        ...state,
        loading: false,
      }
    }
    
    default: {
      return state
    }
  }
}

export default <%=name%>Reducer
