import reducer from './<%=name%>Reducer.js'
import {
  <%=actionName%>,
  <%=actionName%>Success,
  <%=actionName%>Failed
} from '../actions/<%=name%>Actions.js'

describe('<%=lowerSpaceCase%>_REQUEST reducer', () => {
  it('should return the initial state', () => {
    expect(reducer(undefined, {})).toEqual(
      {
        message: null,
      }
    )
  })

  it('should handle <%=upperSnakeCased%>_REQUEST', () => {
    expect(
      reducer({}, <%=actionName%>_REQUEST('test'))
    ).toEqual(
      {
        message: null,
      }
    )
  })

  it('should handle <%=upperSnakeCased%>_SUCCESS', () => {
    expect(
      reducer({}, <%=actionName%>Success(':-)'))
    ).toEqual(
      {
        message: ':-)',
      }
    )
  })

  it('should handle <%=upperSnakeCased%>_FAILED', () => {
    expect(
      reducer({}, <%=actionName%>Failed(':-('))
    ).toEqual(
      {
        message: ':-(',
      }
    )
  })
})
